:global(.vtex-flex-layout-0-x-flexRowContent--contenedorImagenes) .productHighlightWrapper--collection::before{
  margin-left:80px;
  width: 60px ;
  height: 60px ;

}
:global(.vtex-stack-layout-0-x-stackItem--nocheDiaFlag) .productHighlightWrapper--collection::before{
  display: none !important;
}

/*Flags de promoción*/
.productHighlightWrapper--collection[data-highlight-id="404"]::before {
  content: "";
  display: block;
  background: url(https://cutis.vteximg.com.br/arquivos/FlagConFormulaMedica.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px !important;
  height: 250px !important ;
  z-index: 99 !important;


}

.productHighlightWrapper--collection[data-highlight-id="404"] {
  display: block !important;
  top: 85px;
}

@media (min-width: 320px) and (max-width: 374px) {
  .productHighlightWrapper--collection[data-highlight-id="404"] {
    left: 6rem;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .productHighlightWrapper--collection[data-highlight-id="404"] {
    left: 7.5rem;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .productHighlightWrapper--collection[data-highlight-id="404"] {
    left: 9rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .productHighlightWrapper--collection[data-highlight-id="404"] {
    left: 3.2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .productHighlightWrapper--collection[data-highlight-id="404"] {
    left: 9rem;
  }
}
@media (min-width: 1440px) and (max-width: 2559px) {
  .productHighlightWrapper--collection[data-highlight-id="404"] {
    left: 13rem;
  }
}

.productHighlightWrapper--collection[data-highlight-id="160"]::before{
  content: "";
  display: block;
  background: url(/arquivos/35Off-cutis.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 45px;
  height: 46px;
  font-size: 0;
  z-index: 9;
}
.productHighlightWrapper--collection[data-highlight-id="160"]{
  display: block !important;
  top: 25px;
  left: 0;
}

/*Finalizar flags*/


.productHighlightWrapper--collection {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 200px;
}

.productHighlightText{
  display: block;
  margin-left: 0px;
  font-size: 0;
  background: transparent;

}
.productHighlightText[data-highlight-id="139"]::before{
  content: "";
  background: url(/arquivos/SolLogo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 26px;
  height: 26px;
  font-size: 0;
  z-index: 9;
  display: block;
  margin-top: -10px;
}

.productHighlightText[data-highlight-id="139"]::after{
  content: "Aplicación en el día";
  font-size: 11px;
  opacity: 0;
  transition: 400ms all;
  background: #F6F9E8;
  padding: 5px 5px;
  position: absolute;
  z-index: 0;
  visibility: hidden;
}
.productHighlightText[data-highlight-id="139"]:hover::after {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.productHighlightText[data-highlight-id="138"]::before{
  content: "";
  background: url(/arquivos/akar-icons_moon-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 26px;
  height: 26px;
  font-size: 0;
  z-index: 9;
  display: block;
  margin-top: -10px;
}
.productHighlightText[data-highlight-id="138"]::after{
  content: "Aplicación en la noche";
  font-size: 11px;
  opacity: 0;
  transition: 400ms all;
  background: #F6F9E8;
  padding: 5px 5px;
  position: absolute;
  z-index: 0;
  visibility: hidden;
}
.productHighlightText[data-highlight-id="138"]:hover::after {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.productHighlightText[data-highlight-id="145"]::before{
  content: "";
  background: url(/arquivos/nuevonewtag.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 53px;
  height: 21px;
  font-size: 0;
  z-index: 9;
  display: block;
}
.productHighlightText[data-highlight-id="140"]::before{
  content: "";
  background: url(/arquivos/50Newtag.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 45px;
  height: 46px;
  font-size: 0;
  z-index: 9;
  display: block;
}
/* cualquier momento */
.productHighlightText[data-highlight-id="141"]::before{
  content: "";
  background: url(/arquivos/bi_sun.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  font-size: 0;
  z-index: 9;
  display: block;
  margin-top: -10px;
}
.productHighlightWrapper.productHighlightWrapper--collection[data-highlight-id="257"]{
  display: none !important;
}
.productHighlightText[data-highlight-id="141"]::after{
  content: "Aplicación en cualquier momento";
  font-size: 11px;
  opacity: 0;
  transition: 400ms all;
  background: #F6F9E8;
  padding: 5px 5px;
  position: absolute;
  z-index: 0;
  visibility: hidden;
}
.productHighlightText[data-highlight-id="141"]:hover::after {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
/* pluma */
.productHighlightText[data-highlight-id="142"]::before{
  content: "";
  background: url(/arquivos/pluma.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  font-size: 0;
  z-index: 9;
  display: block;
  margin-top: -10px;
}


.productHighlightText[data-highlight-id="142"]::after{
  content: "Piel Sensible";
  font-size: 11px;
  opacity: 0;
  transition: 400ms all;
  background: #F6F9E8;
  padding: 5px 5px;
  position: absolute;
  z-index: 0;
  visibility: hidden;
}
.productHighlightText[data-highlight-id="142"]:hover::after {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
:global(.vtex-flex-layout-0-x-flexRowContent--contenedorImagenes) .productHighlightText[data-highlight-id="137"]::before{
  display: none;
}
:global(.vtex-flex-layout-0-x-flexRowContent--contenedorImagenes) .productHighlightText[data-highlight-id="141"]::before{
  display: none;
}
:global(.vtex-flex-layout-0-x-flexRowContent--contenedorImagenes) .productHighlightText[data-highlight-id="142"]::before{
  display: none;
}
:global(.vtex-flex-layout-0-x-flexRowContent--contenedorImagenes) .productHighlightText[data-highlight-id="140"]::before{
  width: 55px;
  height: 52px;
  margin-top: 15px;
}
@media (max-width: 600px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--contenedorImagenesM) .productHighlightWrapper[data-highlight-id="137"]{
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--contenedorImagenesM) .productHighlightWrapper[data-highlight-id="141"]{
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--contenedorImagenesM) .productHighlightWrapper[data-highlight-id="142"]{
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--contenedorImagenesM) .productHighlightText[data-highlight-id="140"]::before{
    width: 55px;
    height: 52px;
    margin-top: 15px;
  }
  .productHighlightWrapper--collection {
    position: relative;
  }
  .productHighlightText{
    margin-left: 0px;
  }
  .productHighlightText[data-highlight-id="137"]::before{
    margin-left: -3px;
  }
  .productHighlightText[data-highlight-id="139"]:hover::after {
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  .productHighlightText[data-highlight-id="142"]:hover::after {
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  .productHighlightText[data-highlight-id="141"]:hover::after {
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  .productHighlightText[data-highlight-id="138"]:hover::after {
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  :global(.vtex-product-summary-2-x-clearLink--vitrineCarrito) .productHighlightText[data-highlight-id="140"] {
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  .productHighlightWrapper--collection{
    background: transparent !important;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--productInfo3) .productHighlightWrapper--collection[data-highlight-id="142"]{
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--productInfo3) .productHighlightWrapper--collection[data-highlight-id="141"]{
    display: none;
  }
}
