.listContainer  {
    height: 26%;
}
.contentItem--footersColumn :global(.vtex-menu-2-x-menuContainerNav){
    width: 50%;
}
.contentItem--footersColumn{
    flex-wrap: wrap;
    display: inline-flex;
}
.listContainer--tabbersHome {
    justify-content: flex-start;
}
/* footer tabbers */
.contentItem--footersColumn :global(.vtex-menu-2-x-menuContainerNav){
    width: 50%;
}
.contentItem--footersColumn :global(.vtex-menu-2-x-styledLinkContent ){
    font-size: 13px;
}
.listItem--tabberFooter :global(.vtex-button__label){
    color: black;
    font-size: 18px;
    text-transform: capitalize;
}
.listItemActive--tabberFooter :global(.vtex-button__label){
    color: #27AFE5;
    font-size: 25px;
    font-weight: bold;
}
.listItemActive--tabberFooter {
    background: #E4F7FF;
    border-radius: 5px;
    width: 100%;
    display: block;
}
.listItemActive--tabberFooter :global(.vtex-button){
    background: transparent;
    border: 0;
}
.listItem--tabberFooter  {
    width: 100%;
}
/* tab category */
.listContainer--tabbersCategory {
    margin-bottom: 20px;
    background-color: white;
}
.listContainer--tabbersCategory .listItemActive  :global(.vtex-button){
    background: #343434;
    border: 0;
}
.listContainer--tabbersCategory .listItem  :global(.vtex-button__label){
    color: transparent;
    font-size: 15px;
    padding: 50px;
    text-transform: capitalize;
}
.container--product{
    margin: 60px 100px 40px;
    border-radius: 18px;
    overflow: hidden;
}
.container--product .listItem  {
    width: 33.33% !important;
    margin: 0;
    padding: 0;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
}
.container--product .listItem--detail {
    width: 33.33% !important;
    margin: 0;
    padding: 0;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}
.container--product .listItem :global(.vtex-button) {
    width: 100%;
    border-radius: 0;
}
.container--product .listItemActive :global(.vtex-button) {
    background: #363636;
    border: 1px solid #363636;
}
.container--product .listItem :global(.vtex-button__label) {
    color: #808080;
    text-transform: initial;
}
.container--product .listItemActive :global(.vtex-button__label) {
    color: white;
    font-weight: bold;
}
.container--product .contentContainer {
    padding: 0px 30px 20px 30px;
}
.contentItem--tabbersVitrina {
    padding: 0 40px;
    background-color: white;
}
.listContainer--tabbersCategory .listItem{
    width: 15%;
    padding: 0;
}
.listContainer--tabbersCategory .listItem :global(.vtex-button){
    width: 100%;
}
.listContainer--tabbersCategory .listItemActive :global(.vtex-button){
    background: #27AFE5 !important;
}
.listContainer--tabbersCategory .listItem :global(.vtex-button){
    background: transparent;
    border: 1px solid #E7EEF1;
}
.listContainer--tabbersCategory .listItem :global(.vtex-button__label){
    color: #808080;
}
.listContainer--tabbersCategory .listItemActive :global(.vtex-button__label){
    color: white;
}
.listContainer--tabbersCategory .listItem :global(.vtex-button){
    transition: 400ms all;
}
.listContainer--tabbersCategory .listItem  :global(.vtex-button):hover{
    background: #27AFE5;
}
.listContainer--tabbersCategory .listItem  :global(.vtex-button):hover :global(.vtex-button__label){
    color: white;
}
.container--home{
    margin-bottom: 40px;
    background-color: white;
}

@media (max-width: 600px) {
    .listItem--tabberFooter :global(.vtex-button__label){
        text-transform: capitalize;
        padding: 0;
        font-size: 18px;

    }
    .listItemActive--tabberFooter :global(.vtex-button__label){
        text-transform: capitalize;
        font-size: 18px;
        padding: 0;
        font-weight: 500;
    }
    .listContainer--tabbersHome{
        flex-wrap: initial;
    }
    @media screen and (max-width: 425px) {
      .listContainer--tabbersHome {
        flex-wrap: wrap;
      }
  }
    .contentItem--footersColumn :global(.vtex-menu-2-x-menuContainerNav){
        width: 100%;
        justify-content: center;
        display: block;
        text-align: center;
    }
    .listItem  {
        width: 100%;
    }
    .listContainer--tabbersCategory .listItem :global(.vtex-button__label){
        padding: 0;
    }
    .listContainer--tabbersCategory .listItem :global(.vtex-button){
        width: 100%;
    }
    .container--product {
        margin: 0 30px;
    }
    .container--product .listItem :global(.vtex-button__label ){
        text-transform: capitalize;
    }
    .container--product .listItem--descript {
        width: 35% !important;
        border-radius: 5px 0 0 5px !important;
    }

    .listItem--descript :global(.vtex-button){
        border-radius: 5px 0 0 5px !important;

    }
    .container--product .listItem--detail {
        width: 25% !important;
        border-radius: 0 5px 5px 0 !important;
    }
    .listItem--detail :global(.vtex-button){
        border-radius: 0 5px 5px 0 !important;

    }
    .container--product .listItem--caracteristicas   {
        width: 40% !important;
    }
    .contentItem--tabbersVitrina {
        padding: 0 0 0 0px;
    }
    .listContainer--tabbersCategory .listItem{
        width: 100%;
        padding: 0;
    }
    .listContainer--tabbersCategory {
        margin-bottom: 40px;
    }
    .listItemActive--tabberFooter :global(.vtex-button){
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .contentItem--footersColumn :global(.vtex-menu-2-x-styledLinkContainer){
        margin: 0;
    }
    .contentItem--footersColumn :global(.vtex-menu-2-x-styledLinkContent ){
        justify-content: center !important;
    }
    .container--product{
        margin: 0 10px;
    }
    .container--product .contentContainer{
        padding: 8px 0px;
    }
    .container--product{
        margin: 10px 0 30px 0;
    }
    .listItem--tabberFooter{
        text-align: center;
    }
}
@media screen and (max-width: 425px) {
  .listItem--tabberFooter {
    text-align: center;
    border: solid 1px darkgray;
    border-radius: 8px
  }
}
.container--product .listItem--descript {
    width: 35% !important;
    border-radius: 5px 0 0 5px !important;
}

.listItem--descript :global(.vtex-button){
    border-radius: 5px 0 0 5px !important;

}
.container--product .listItem--detail {
    width: 25% !important;
    border-radius: 0 5px 5px 0 !important;
}
.listItem--detail :global(.vtex-button){
    border-radius: 0 5px 5px 0 !important;

}
